.about-me--text-image-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-me--text {
    width: 60%;
    padding-left: 20px;

        p {
            margin: 0;
        }
}

// @media (max-width: 1379px) {
//     .about-me--text {
//         margin-top: 0;
//         p {
//         margin-top: 0;
//         }
//     }
// }

@media (max-width: 1213px) {
    .about-me--text-image-flex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-me--text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        text-align: center;
        padding-left: 0;
        margin-top: 30px;
        a {
            margin: 15px auto;
        }
    }
}