.contact--socials {
    max-width: 720px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact--socials-indv-circles {
    transition: 0.3s all ease;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $black;
    i {
        color: $white;
    }
    .fa, .ai {
        transition: 0.3s all ease;
    }
    .fa {
        font-size: 35px;
    }
    .ai {
        font-size: 40px;
    }
}

.contact--socials-indv {
    p {
        text-align: center;
        transition: 0.3s all ease;
    }
}

.contact--socials-indv--hover {
    i, p {
    color: $accent;
    }
    .contact--socials-indv-circles {
    background: transparent;
    }
}

@media (max-width: 660px) {
    .contact--socials-indv-circles  {
        margin: 10px 20px;
    }
}