.education--levels {
    font-weight: 700;
    @include font-size-value(22)
}

.education--text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.education--text-indv {
    display: flex;
    max-width: 460px;
}

.education--text-details {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 10px;
    p {
        margin: 0;
        padding: 0;
    }
}

.education--text-indv--Ottawa {
    padding-left: 87px;
    .education--text-details {
        padding-left: 10px;
    }
}
