.education--levels {
    font-weight: 600;
    @include font-size-value(23);
    font-family: $secondary-text;
    padding-bottom: 4px;
}

.education--text {
    display: flex;
    justify-content: space-around;
}

.education--text-indv {
    width: 18%;
        p {
            margin: 0;
        }
}
