footer {
    padding: 25px 0;
    display: flex;
    justify-content: center;
}

footer a {
    display: inline-block;
    @include font-size-value(10);
    transition: $globalTransition;
    &:hover {
        color: $accent;
    }
}