footer {
    padding: 25px 0;
    text-align: center;
}

footer a {
    display: block;
    @include font-size-value(10);
    transition: $globalTransition;
    &:hover {
        color: $accent;
    }
}