// variables

$main-text: 'Nunito Sans', sans-serif;
$secondary-text: 'Open Sans', sans-serif;

$white: rgb(254, 255, 253);
$black: rgb(52,64,85);
$light-grey: rgb(245, 246, 247);
$accent: rgb(40,139,206);

// mixins

@mixin font-size-value($sizeValue){
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/10) * 1rem;
}

// wrappers
.wrapper--max {
    max-width: 2500px;
    margin: 0 auto;
}

.wrapper--inner {
    max-width: 1250px;
    margin: 60px auto;
}

.wrapper--inner-no-margin {
    max-width: 1250px;
    margin: 0 auto;
}

// base size

html {
    font-size: 62.5%;
}

// general

main {
    background: linear-gradient(rgba($white, 0.2), rgba($white, 0.2)), url(assets/topo.png);
    padding: 1px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

h1, h2, p, a {
    color: $black;
}

h1, h2 {
    font-family: $main-text;
    margin-bottom: 10px;
    margin-top: 0;
}

p, a {
    font-family: $secondary-text;
    @include font-size-value(16);
}

p {
    line-height: 29px;
}

section {
    padding: 40px 10px;
}

.section--specifics  {
    background: $light-grey;
}

.section--text {
    padding: 0 30px;
}

// headings

.all-sections--sub-headings {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    @include font-size-value(20);
}

// lines under sub headings
.sub-headings--lines {
    width: 300px;
}

.sub-headings--longer-line {
        margin: 0 auto;
        width: 80%;
        height: 3px;
        background: $black;
    }

.sub-headings--shorter-line {
    margin: 8px auto;
    width: 35%;
    height: 3px;
    background: $black;
}

// media queries
@media (max-width: 1795px) { 
    .wrapper--inner {
    max-width: 1000px;
    margin: 60px auto;
    }

    .wrapper--inner-no-margin {
        max-width: 1000px;
        margin: 0 auto;
    }
}

@media (max-width: 1529px) { 
    .wrapper--inner {
    max-width: 800px;
    margin: 60px auto;
    }

    .wrapper--inner-no-margin {
        max-width: 800px;
        margin: 0 auto;
    }
}

@media (max-width: 1332px) { 
    .wrapper--inner {
    max-width: 90%;
    margin: 60px auto;
    }

    .wrapper--inner-no-margin {
        max-width: 90%;
        margin: 0 auto;
    }
}