// variables

$main-text: 'Nunito Sans', sans-serif;
$secondary-text: 'Open Sans', sans-serif;

$white: rgb(254, 255, 253);
$black: rgb(52,64,85);
$light-grey: rgb(245, 246, 247);
$accent: rgb(40,139,206);

// mixins

@mixin font-size-value($sizeValue){
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/10) * 1rem;
}

// wrappers
.wrapper--max {
    max-width: 2500px;
    margin: 0 auto;
}

.wrapper--inner {
    max-width: 1250px;
    margin: 60px auto;
}

.wrapper--inner-no-margin {
    max-width: 1250px;
    margin: 0 auto;
}

// base size

html {
    font-size: 62.5%;
}

// general

main {
    background: linear-gradient(rgba($white, 0.2), rgba($white, 0.2)), url(assets/topo.png);
    padding: 1px;
    background-attachment: fixed;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

h1, h2, h3, p, a {
    color: $black;
}

h1, h2, h3 {
    font-family: $main-text;
    margin-bottom: 10px;
    margin-top: 0;
}

h3 {
    @include font-size-value(19);
}

p, a {
    font-family: $secondary-text;
    @include font-size-value(16);
}

p {
    line-height: 29px;
}

section {
    padding: 40px 10px;
}

.section--specifics  {
    background: $light-grey;
}

.section--text {
    padding: 0 30px;
    span {
        font-style: italic;
    }
}

// headings

.all-sections--sub-headings {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    @include font-size-value(20);
    margin-bottom: 20px;
    h2 {
        margin-bottom: 8px;
    }
}

// lines under sub headings
.sub-headings--lines {
    width: 300px;
}

.sub-headings--shorter-line {
    margin: 0 auto;
    width: 35%;
    height: 3px;
    background: $black;
}

// buttons
.button-global {
    display: inline-block;
    border: 3px solid $black;
    padding: 11px 15px;
    text-transform: uppercase;
    margin-top: 10px;
    &:hover {
        margin-top: 13px;
        border: none;
        border-right: 3px solid transparent;
        border-left: 3px solid $accent;
        color: $accent;
    }
    &:active {
        margin-top: 13px;
        border: none;
        border-left: 3px solid transparent;
        border-right: 3px solid $accent;
        color: $accent;
    }
    &:focus {
        margin-top: 13px;
        border: none;
        border-right: 3px solid $accent;
        border-left: 3px solid transparent;
        color: $accent;
    }
}

// links in text
.anchor-in-text--global {
    border-bottom: 1.5px solid $accent;
    padding: 1px;
    transition: 0.2s;
    &:hover {
        color: $accent;
    }
    &:active {
        color: $accent;
    }
    &:focus {
        color: $accent;
    }
}

// media queries
@media (max-width: 1795px) { 
    .wrapper--inner {
    max-width: 1000px;
    margin: 60px auto;
    }

    .wrapper--inner-no-margin {
        max-width: 1000px;
        margin: 0 auto;
    }
}

@media (max-width: 1529px) { 
    .wrapper--inner {
    max-width: 945px;
    margin: 60px auto;
    }

    .wrapper--inner-no-margin {
        max-width: 945px;
        margin: 0 auto;
    }
}

@media (max-width: 1332px) { 
    .wrapper--inner {
    max-width: 90%;
    margin: 60px auto;
    }

    .wrapper--inner-no-margin {
        max-width: 90%;
        margin: 0 auto;
    }
}