// variables

$main-text: 'Nunito Sans', sans-serif;
$secondary-text: 'Open Sans', sans-serif;

$white: rgb(254, 255, 253);
$black: rgb(52,64,85);
$light-grey: rgb(245, 246, 247);

// mixins

@mixin font-size-value($sizeValue){
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/10) * 1rem;
}

// wrappers
.wrapper--max {
    max-width: 2500px;
    margin: 0 auto;
}

.wrapper--inner {
    max-width: 1300px;
    margin: 0 auto;
}

// base size

html {
    font-size: 62.5%;
}

// general

body {
    background: linear-gradient(rgba($white, 0.2), rgba($white, 0.2)), url(assets/topo.png);
    padding: 1px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

h1, h2, p {
    color: $black;
}

h1, h2 {
    font-family: $main-text;
}

p, a {
    font-family: $secondary-text;
}

section {
    margin: 5vh 15px;
}

// headings

.all-sections--sub-headings {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}

// lines under sub headings
.sub-headings--lines {
    width: 200px;
}

.sub-headings--longer-line {
        margin: 0 auto;
        width: 80%;
        height: 1px;
        background: black;
    }

    .sub-headings--shorter-line {
        margin: 8px auto;
        width: 35%;
        height: 1px;
        background: black;
    }