.centering-text--header {
    text-align: center;
    margin-top: 4.5vh;
    background: rgba($light-grey,0.7);
    padding: 15vh 15px;
    h1 {
        @include font-size-value(55);
        margin-bottom: 0;
        letter-spacing: 2px;
    }
    h2 {
        text-transform: uppercase;
        @include font-size-value(30);
        margin-top: 10px;
        letter-spacing: 1.5px;
    }
}

.logo-socials--header {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    @include font-size-value(18);
    a {
        transition: 0.3s;
        &:hover {
            color: $accent;
        }
    }
}

.socials--header-footer {
    display: flex;
    justify-content: space-around;
}

.logo-socials--header-img {
    width: 70%;
    padding-top: 20px;
    margin-left: 5px;
}

.logo-socials--header-socials {
    width: 20%;
    padding-top: 30px;
}

.logo-socials--header-socials {
    a {
        vertical-align: top;
    }
}

.ai-orcid {
    font-size: 25px;
}

.ai-google-scholar {
    font-size: 21px;
    padding-top: 2px;
}

.logo-socials--header-socials {
    .fa-twitter {
    font-size: 20px;
    padding-top: 2.5px;
}
    .fa-envelope {
        font-size: 19px;
        padding-top: 3px;
    }
}


@media (max-width: 1175px) {
    .logo-socials--header-socials {
        display: none;
    }
}
