.centering-text--header {
    text-align: center;
    margin-top: 5vh;
    background: rgba($light-grey,0.7);
    padding: 15vh 0;
    h1 {
        @include font-size-value(55);
        margin-bottom: 0;
        letter-spacing: 2px;
    }
    h2 {
        text-transform: uppercase;
        @include font-size-value(30);
        margin-top: 10px;
        letter-spacing: 1.5px;
    }
}

.logo-socials--header {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    @include font-size-value(18);
    a {
        transition: 0.3s;
        &:hover {
            color: $accent;
        }
    }
}

.socials--header-footer {
    display: flex;
    justify-content: space-around;
}

.logo-socials--header-img {
    width: 70%;
}

.logo-socials--header-socials {
    width: 30%;
    margin-top: 20px;
}

@media (max-width: 1332px) {
    .logo-socials--header-socials {
        display: none;
    }
}
