
.top-box--header {
    background: $light-grey;
    height: 85vh;
    margin-top: 2.2vh;
    overflow: hidden;

    .centering-text--header {
        display: flex;
        flex-direction: column;
        padding-top: 10vh;
        padding-left: 35px;
        flex-wrap: wrap;

        h1 {
            @include font-size-value(50);
            margin-bottom: 0;
            letter-spacing: 2px;
        }
        h2 {
            @include font-size-value(35);
            margin-top: 6px;
            letter-spacing: 1.5px;
            width: 270px;
        }
    }
        img {
        position: relative;
        bottom: 11.5vh;
        left: 16vw;
        width: 770px;
        transform: rotate(8deg);
    }


}

.logo-socials--header {
    display: flex;
    justify-content: space-between;
    a {
        transition: 0.3s ease;
        &:hover {
            color: $accent;
        }
    }
}

.socials--header-footer {
    display: flex;
    justify-content: space-around;
}

.logo-socials--header-img {
    width: 50%;
    padding-top: 20px;
    margin-left: 5px;
}

.logo-socials--header-socials {
    width: 20%;
    padding-top: 30px;
}

.ai-orcid {
    font-size: 26px;
}

.ai-google-scholar {
    font-size: 23px;
    padding-top: 2px;
}

.logo-socials--header-socials {
    .fa-twitter {
    font-size: 24px;
    padding-top: 2px;
    }
    .fa-envelope {
        font-size: 22px;
        padding-top: 1.5px;
    }
}


@media (max-width: 1000px) {
    .logo-socials--header-socials {
        display: none;
    }
}
