.nav--flex {
    display: flex;
    flex-direction: column;
    right: 50px;
    top: 140px;
    text-align: right;
    position: fixed;
    a {
        color: $black;
        line-height: 35px;
        @include font-size-value(18);
        text-transform: uppercase;
        letter-spacing: 0.7px;
        transition: 0.3s;
        &:hover, &:active, &:focus {
            color: $accent;
        }
        }
    }

.nav--mobile {
    display: none;
}

    .inner-circle--nav {
        background: transparent;
        height: 8px;
        width: 8px;
        display: inline-block;
    }

    .active-square--nav {
        height: 8px;
        width: 8px;
        display: inline-block;
        background: $accent;
        position: relative;
        top: -2px;
    }

    // media queries

@media (max-width: 1175px) { 
    .nav--flex{
    display: none;
    }
    .nav--mobile {
        display: block;
    }
}