.publication--section-left, .publication--section-right  {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    min-height: 228px;
}

.publication--section-left {
    flex-wrap: wrap;
}

.publication--section-right {
    flex-wrap: wrap-reverse;
    text-align: right;
    background: darken($light-grey, 10);
    padding: 10px;
}

.publication--section--img {
    flex-shrink: 0; 
}

.publication--section-left--text, .publication--section-right--text {
    width: 67%;
    min-height: 150px;
    margin-top: 20px;
}

.publication--section-right--text {
    margin-right: 20px;
}

.publication--section-left--text {
    margin-left: 20px;
}

// buttons

.publications--buttons-2nd {
    margin-left: 10px;
    width: 160px;
}