.publication--section-left, .publication--section-right  {
    display: flex;
    justify-content: space-around;
    margin-bottom: 45px;
    padding: 5px 0;
    min-height: 228px;
}

.publication--section-left {
    flex-wrap: wrap;
}

.publication--section-right {
    flex-wrap: wrap-reverse;
    text-align: right;
}

.publication--section--img {
    flex-shrink: 0; 
}

.publication--section-left--text, .publication--section-right--text {
    width: 67%;
    min-height: 150px;
    margin-top: 20px;
}

.publication--section-right--text {
    margin-right: 20px;
}

.publication--section-left--text {
    margin-left: 20px;
}

// buttons

.publications--buttons-2nd {
    margin-left: 10px;
}

// stripping margin off bottom publication
.publication--section-left:last-of-type {
    margin-bottom: 0;
}

@media (max-width: 578px) {
    .publications--buttons-2nd {
        margin-left: 0;
    }
    .publication--section-left, .publication--section-right {
        .button-global {
            margin-top: 15px;
        }
    }
}