// Responsive web
@media (max-width:1400px) {
    .top-box--header {
        img {
            bottom: 5vh;
            left: 20vw;
            width: 650px;
            transform: rotate(17deg);
        }
    }
}

@media (max-width:1310px) {
    .top-box--header {
        img {
            bottom: 2.5vh;
            width: 600px;
            transform: rotate(20deg);
        }
    
        .centering-text--header {
            padding-top: 14vh;
        }   
    }
}

@media (max-width:1218px) {
    .top-box--header {
        img {
            left: 16.5vw;
            bottom: 0vh;
            width: 570px;
            transform: rotate(25deg);
        }

           .centering-text--header {
            h1 {
                @include font-size-value(50);
            }
            h2 {
                @include font-size-value(30);
            }
        }   
    }
}

@media (max-width:1090px) {
    .top-box--header {
        img {
            left: 10vw;
            bottom: -5vh;
            width: 480px;
            transform: rotate(20deg);
        }
        .centering-text--header {
            h1 {
                @include font-size-value(45);
            }
            h2 {
                @include font-size-value(28);
            }
        } 
    }
}

@media (max-width:1000px) {
    .top-box--header {
        img {
            left: 21vw;
            bottom: 1vh;
            width: 580px;
            transform: rotate(22deg);
        }
        .centering-text--header {
            padding-left: 40px;
            padding-top: 110px;
            h1 {
                @include font-size-value(45);
            }
            h2 {
                @include font-size-value(32);
            }
        }   
    }
}

@media (max-width: 840px) {
    .top-box--header {
        img {
            left: 13vw;
            bottom: -5vh;
            width: 500px;
            transform: rotate(25deg);
        }
        .centering-text--header {
            padding-left: 22px;
            h1 {
                @include font-size-value(45);
            }
            h2 {
                @include font-size-value(30);
            }
        }   
    }
}

@media (max-width: 670px) {
    .top-box--header {
        img {
            left: 10vw;
            width: 450px;
        }
        .centering-text--header {
            h1 {
                @include font-size-value(40);
            }
            h2 {
                @include font-size-value(27);
            }
        }   
    }
}

@media (max-width: 560px) {
    .top-box--header {
        img {
            left: 5vw;
            bottom: -50px;
            width: 400px;
            transform: rotate(25deg);
        }
        .centering-text--header {
            padding-left: 25px;
            padding-top: 120px;
            h1 {
                @include font-size-value(35);
            }
            h2 {
                @include font-size-value(24);
            }
        }   
    }
}

@media (max-width: 500px) {
    .top-box--header {
        img {
            left: 4vw;
            bottom: -100px;
            width: 360px;
        }
        .centering-text--header {
            padding-left: 25px;
            padding-top: 120px;
            h1 {
                @include font-size-value(27);
            }
            h2 {
                @include font-size-value(23);
            }
        }   
    }
}

@media (max-width: 440px) {
    .top-box--header {
        img {
            left: 6vw;
            bottom: -50px;
            width: 320px;
        }
        .centering-text--header {
            padding-left: 25px;
            padding-top: 120px;
            h1 {
                @include font-size-value(25);
            }
            h2 {
                @include font-size-value(21);
            }
        }   
    }
}

@media (max-width: 400px) {
    .top-box--header {
        img {
            left: 3vw;
            width: 300px;
        }
        .centering-text--header {
            padding-top: 30vw;
        }   
    }
}

// iPad

// ipad pro portrait 
@media only screen 
and (min-device-width: 1024px) 
and (max-device-width: 1024px) 
and (orientation: portrait) {
    .top-box--header {
        img {
            transform: rotate(25deg);
        }
    }
    .top-box--header .centering-text--header {
        padding-top: 18vh;
    }
}


// ipad regular landscape
@media only screen 
and (min-device-width: 1024px) 
and (max-device-height: 768px)
and (orientation: landscape) {
    .top-box--header {
        img {
            left: 21vw;
            bottom: 2vh;
            width: 400px;
            transform: rotate(22deg);
        }
    }
    .top-box--header .centering-text--header {
        padding-top: 14vh;
        padding-left: 20px;
            h1 {
            @include font-size-value(45);
            }
        h2 {
            @include font-size-value(35);
        }
    }
}

// ipad regular query portrait
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: portrait) {
    .top-box--header .centering-text--header {
        padding-top: 22vh;
            h1 {
            @include font-size-value(50);
            }
        h2 {
            @include font-size-value(35);
        }
    }
}

// landscape small screen
// ipad regular landscape
@media only screen 
and (max-device-width: 830px) 
and (orientation: landscape) {
     .top-box--header {
        img {
            display: none;
        }
    }
}