.research-section--second-paragraph-spacing {
    margin-top: 30px;
}

.research-section--nav {
        .tooltipText {
            font-style: normal;
        }

        p:nth-of-type(2) .tooltipText {
            bottom: -75px;
        }
    }