article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.wrapper--max {
  max-width: 1750px;
  margin: 0 auto; }

.wrapper--inner, .wrapper--inner-no-margin {
  max-width: 76%; }

.wrapper--inner {
  margin: 60px auto; }

.wrapper--inner-no-margin {
  margin: 0 auto; }

body {
  background: #fefffd;
  padding: 1px; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

h1, h2, h3, h4, p, a, button {
  color: #373737; }

h1, h2, h3, h4 {
  font-family: "Nunito Sans", sans-serif;
  margin-top: 0; }

h4 {
  font-size: 17.5px;
  font-size: 1.75rem; }

p, a, button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 400; }

p {
  line-height: 29px; }

section {
  padding: 40px 10px; }

.section--specifics {
  background: #efece9; }

.section--text {
  padding: 0 30px; }
  .section--text span {
    font-style: italic; }

.all-sections--sub-headings {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 20px; }
  .all-sections--sub-headings h3 {
    letter-spacing: 0.8px;
    line-height: 40px;
    font-size: 33px;
    font-size: 3.3rem; }
  .all-sections--sub-headings span {
    font-size: 35px;
    font-size: 3.5rem;
    font-weight: 700; }

.button-global {
  padding: 8px 8px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 2px solid #373737;
  color: #373737;
  background: transparent;
  margin-top: 5px;
  display: inline-block;
  text-align: center; }
  .button-global:hover, .button-global:active, .button-global:focus {
    background: #373737;
    color: #fefffd; }

.anchor-in-text--global {
  border-bottom: 1.5px solid #f19032;
  padding: 1px;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .anchor-in-text--global:hover, .anchor-in-text--global:active, .anchor-in-text--global:focus {
    color: #f19032; }

@media (max-width: 1380px) {
  .wrapper--inner, .wrapper--inner-no-margin {
    max-width: 72%; } }

@media (max-width: 1230px) {
  .wrapper--inner, .wrapper--inner-no-margin {
    max-width: 70%; } }

@media (max-width: 1150px) {
  .wrapper--inner, .wrapper--inner-no-margin {
    max-width: 68%; } }

@media (max-width: 1081px) {
  .wrapper--inner, .wrapper--inner-no-margin {
    max-width: 65%; } }

@media (max-width: 1000px) {
  .wrapper--inner, .wrapper--inner-no-margin {
    max-width: 88%; } }

.nav--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 18px;
  top: 190px;
  text-align: right;
  position: fixed; }
  .nav--flex a {
    color: #373737;
    line-height: 35px;
    font-size: 17px;
    font-size: 1.7rem;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
    .nav--flex a:hover, .nav--flex a:active, .nav--flex a:focus {
      color: #f19032; }

.inactive-square-transparent--nav {
  background: transparent;
  height: 8px;
  width: 8px;
  display: inline-block; }

.active-square--nav {
  height: 8px;
  width: 8px;
  display: inline-block;
  background: #f19032;
  position: relative;
  top: -2px; }

.nav--mobile {
  right: 100px;
  top: 35px;
  position: fixed;
  cursor: pointer;
  z-index: 3; }
  .nav--mobile ul {
    display: none; }
  .nav--mobile.open {
    position: fixed;
    background: rgba(254, 255, 253, 0.96);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease; }
    .nav--mobile.open .hamburger {
      position: fixed;
      right: 80px;
      top: 30px; }
      .nav--mobile.open .hamburger .red {
        background: red;
        -webkit-transform: rotate(40deg);
                transform: rotate(40deg); }
      .nav--mobile.open .hamburger .blue {
        background: blue;
        -webkit-transform: translate(40px);
                transform: translate(40px);
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
        -webkit-transform-origin: top left;
                transform-origin: top left; }
      .nav--mobile.open .hamburger .green {
        background: green; }
    .nav--mobile.open ul {
      display: block;
      position: fixed;
      left: 42%;
      top: 30%; }
      .nav--mobile.open ul a {
        font-size: 18px;
        font-size: 1.8rem;
        line-height: 35px;
        letter-spacing: 2px;
        text-transform: uppercase; }

.hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .hamburger span {
    height: 4px;
    width: 27px;
    margin-top: 3px;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
  .hamburger .red {
    background: red; }
  .hamburger .blue {
    background: blue; }
  .hamburger .green {
    background: green; }

.top-box--header {
  background: #efece9;
  height: 85vh;
  margin-top: 2.2vh;
  overflow: hidden; }
  .top-box--header .centering-text--header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 10vh;
    padding-left: 35px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .top-box--header .centering-text--header h1 {
      font-size: 55px;
      font-size: 5.5rem;
      margin-bottom: 0;
      letter-spacing: 2px; }
    .top-box--header .centering-text--header h2 {
      font-size: 38px;
      font-size: 3.8rem;
      margin-top: 6px;
      letter-spacing: 1.5px;
      width: 290px; }
  .top-box--header img {
    position: relative;
    bottom: 12vh;
    left: 17vw;
    width: 760px;
    -webkit-transform: rotate(9deg);
            transform: rotate(9deg); }

.logo-socials--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .logo-socials--header a {
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease; }
    .logo-socials--header a:hover {
      color: #f19032; }

.socials--header-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.logo-socials--header-img {
  width: 50%;
  padding-top: 20px;
  margin-left: 5px; }

.logo-socials--header-socials {
  width: 20%;
  padding-top: 30px; }

.ai-orcid {
  font-size: 26px; }

.ai-google-scholar {
  font-size: 23px;
  padding-top: 2px; }

.logo-socials--header-socials .fa-twitter {
  font-size: 24px;
  padding-top: 2px; }

.logo-socials--header-socials .fa-envelope {
  font-size: 22px;
  padding-top: 1.5px; }

@media (max-width: 1000px) {
  .logo-socials--header-socials {
    display: none; } }

.about-me--text-image-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.about-me--image {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 5px; }

.about-me--text {
  width: 60%;
  padding-left: 10px;
  margin-top: 1%; }

@media (max-width: 1358px) {
  .about-me--text {
    margin-top: 0; } }

@media (max-width: 1240px) {
  .about-me--text p {
    margin-top: 0; } }

@media (max-width: 1228px) {
  .about-me--text-image-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .about-me--image {
    padding: 0; }
  .about-me--text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 85%;
    padding-left: 0;
    margin-top: 15px; }
    .about-me--text a {
      margin: 0 auto;
      width: 120px; } }

.research-section--second-paragraph-spacing {
  margin-top: 30px; }

.education--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.education--levels {
  font-weight: 600;
  font-size: 23px;
  font-size: 2.3rem;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 4px; }

.education--text-indv {
  width: 165px; }
  .education--text-indv p {
    margin: 0; }

@media (max-width: 760px) {
  .education--text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .education--text-indv {
    margin: 15px auto;
    width: 165px; }
  .education--text-indv:first-child {
    margin: 0 auto 15px; } }

.publication--section-left, .publication--section-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 45px;
  padding: 5px 0;
  min-height: 228px; }

.publication--section-left {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.publication--section-right {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  text-align: right; }

.publication--section--img {
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.publication--section-left--text, .publication--section-right--text {
  width: 67%;
  min-height: 150px;
  margin-top: 20px; }

.publication--section-right--text {
  margin-right: 20px; }

.publication--section-left--text {
  margin-left: 20px; }

.publications--buttons-2nd {
  margin-left: 10px; }

.skills--flex-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.skills--indv-section {
  max-width: 395px;
  margin: 10px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto; }
  .skills--indv-section h3 {
    text-transform: uppercase; }
  .skills--indv-section .skills--indv-section-icons {
    margin-right: 8px;
    width: 120px;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .skills--indv-section .skills--indv-section-words p {
    margin: 0; }

.contact--socials {
  max-width: 720px;
  margin: 0 auto;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.contact--socials-indv-circles {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 80px;
  width: 80px;
  background: #373737; }
  .contact--socials-indv-circles i {
    color: #fefffd; }
  .contact--socials-indv-circles .fa, .contact--socials-indv-circles .ai {
    padding: 20px;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .contact--socials-indv-circles .fa {
    font-size: 35px; }
  .contact--socials-indv-circles .ai {
    font-size: 40px; }

.contact--socials-indv p {
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.contact--socials-indv--hover i, .contact--socials-indv--hover p {
  color: #f19032; }

.contact--socials-indv--hover .contact--socials-indv-circles {
  background: transparent; }

footer {
  padding: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

footer a {
  display: inline-block;
  padding: 10px 0;
  font-size: 10px;
  font-size: 1rem;
  -webkit-transition: 0.4s;
  transition: 0.4s; }
  footer a:hover {
    color: #f19032; }
