article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }

html {
  font-size: 62.5%; }

.wrapper--max {
  max-width: 1200px;
  margin: 0 auto; }

.wrapper--inner, .wrapper--inner-no-margin {
  max-width: 90%; }

.wrapper--inner {
  margin: 60px auto; }

.wrapper--inner-no-margin {
  margin: 0 auto; }

body {
  background: #fefffd;
  padding: 1px; }

.fadeInBody {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 0.6s;
          animation: fadeIn ease-in 0.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

h1, h2, h3, h4, p, a, button {
  color: #3a3838; }

h1, h2, h3, h4 {
  font-family: "Nunito Sans", sans-serif;
  margin-top: 0; }

h4 {
  font-size: 19px;
  font-size: 1.9rem; }

p, a, button, label, input, textarea {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-size: 1.7rem;
  font-weight: 400; }

p {
  line-height: 1.7; }

section {
  padding: 40px 10px; }

.section--specifics {
  background: #f3f1ef; }

.section--text {
  padding: 0 30px; }
  .section--text span {
    font-style: italic; }

h3 {
  letter-spacing: 1.2px;
  font-size: 35px;
  font-size: 3.5rem;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 30px; }
  h3 span {
    font-size: 36px;
    font-size: 3.6rem;
    font-weight: 600; }

.button-global {
  padding: 6px 10px;
  font-variant: small-caps;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 20.5px;
  font-size: 2.05rem;
  color: #3a3838;
  margin-top: 5px;
  display: inline-block;
  text-align: center;
  position: relative; }
  .button-global:hover, .button-global:active, .button-global:focus {
    color: #f19032; }
  .button-global:before, .button-global:after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #3a3838;
    content: ''; }
  .button-global:after {
    -webkit-transition: 0.2s all ease;
    transition: 0.2s all ease; }
  .button-global:hover:after {
    top: 0%;
    background: #f19032; }
  .button-global:hover:before {
    background: #f19032; }

.anchor-in-text--global {
  border-bottom: 1.2px dashed #f19032;
  padding: .5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .anchor-in-text--global:hover, .anchor-in-text--global:active, .anchor-in-text--global:focus {
    color: #f19032; }

.tooltip {
  position: relative;
  display: inline-block; }

.tooltipText {
  display: none;
  min-width: 100px;
  background-color: #3a3838;
  color: #fefffd;
  text-align: center;
  padding: 5px 0px;
  position: absolute;
  z-index: 5;
  right: 0;
  bottom: -46px;
  border-radius: 3px;
  opacity: 0;
  -webkit-animation: fadeIn ease-in 0.4s;
          animation: fadeIn ease-in 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s; }

.tooltipText::after {
  display: block;
  content: "";
  position: absolute;
  top: -10px;
  right: 15px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #3a3838 transparent; }

.tooltip:hover .tooltipText,
.tooltip:focus .tooltipText {
  display: block; }

@media (max-width: 1410px) {
  .wrapper--inner, .wrapper--inner-no-margin {
    max-width: 85%; } }

@media (max-width: 1360px) {
  .wrapper--inner, .wrapper--inner-no-margin {
    max-width: 78%; } }

@media (max-width: 1279px) {
  .wrapper--inner, .wrapper--inner-no-margin {
    max-width: 70%; } }

@media (max-width: 1150px) {
  .wrapper--inner, .wrapper--inner-no-margin {
    max-width: 68%; } }

@media (max-width: 1081px) {
  .wrapper--inner, .wrapper--inner-no-margin {
    max-width: 65%; } }

@media (max-width: 1000px) {
  .wrapper--inner, .wrapper--inner-no-margin {
    max-width: 88%; } }

.nav--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: right;
  position: fixed; }
  .nav--flex a {
    color: #3a3838;
    line-height: 35px;
    font-size: 17px;
    font-size: 1.7rem;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .nav--flex a:hover, .nav--flex a:focus {
      color: #f19032; }

.inactive-square-transparent--nav {
  background: transparent;
  height: 8px;
  width: 8px;
  display: inline-block; }

.active-square--nav {
  height: 8px;
  width: 8px;
  display: inline-block;
  background: #f19032;
  position: relative;
  top: -2px; }

.nav--mobile {
  position: fixed;
  z-index: 10; }
  .nav--mobile ul {
    display: none; }
  .nav--mobile.open {
    position: fixed;
    background: rgba(254, 255, 253, 0.96);
    width: 100%;
    height: 100%;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease; }
    .nav--mobile.open .hamburger {
      position: fixed;
      right: 35px;
      top: 25px;
      -webkit-transition: 4s ease;
      transition: 4s ease; }
      .nav--mobile.open .hamburger:hover span {
        background: #f19032; }
      .nav--mobile.open .hamburger .red {
        background: #3a3838;
        -webkit-transform: rotate(-30deg) translateY(1px);
                transform: rotate(-30deg) translateY(1px); }
      .nav--mobile.open .hamburger .blue {
        background: #3a3838;
        width: 15px;
        -webkit-transform: rotate(-30deg) translate(8px) translateY(8px);
                transform: rotate(-30deg) translate(8px) translateY(8px); }
      .nav--mobile.open .hamburger .green {
        background: #3a3838;
        -webkit-transform: rotate(30deg) translateY(-1px);
                transform: rotate(30deg) translateY(-1px); }
    .nav--mobile.open ul {
      display: block;
      position: fixed;
      left: 42%;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
      .nav--mobile.open ul li {
        padding: 10px 0; }
      .nav--mobile.open ul a {
        font-size: 20px;
        font-size: 2rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .nav--mobile.open ul a:hover, .nav--mobile.open ul a:focus {
          color: #f19032; }

.hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
  position: fixed;
  right: 35px;
  top: 25px;
  background: #fefffd;
  padding: 15px;
  border-radius: 3px; }
  .hamburger:hover span {
    background: #f19032; }
  .hamburger span {
    height: 4px;
    width: 27px;
    margin-top: 3px;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease; }
  .hamburger .red {
    background: #3a3838; }
  .hamburger .blue {
    background: #3a3838; }
  .hamburger .green {
    background: #3a3838; }

.navOpacity {
  opacity: 0.4; }

.top-box--header {
  background: #f3f1ef;
  height: 85vh;
  margin-top: 2.2vh;
  overflow: hidden; }
  .top-box--header .centering-text--header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 10vh;
    padding-left: 5.5vw; }
    .top-box--header .centering-text--header h1 {
      font-size: 55px;
      font-size: 5.5rem;
      margin-bottom: 0;
      letter-spacing: 2.5px;
      font-weight: 700; }
    .top-box--header .centering-text--header h2 {
      font-size: 38px;
      font-size: 3.8rem;
      margin-top: 6px;
      letter-spacing: 1.8px;
      width: 300px;
      font-weight: 600; }
  .top-box--header img {
    position: relative;
    bottom: 7vh;
    left: 22vw;
    max-width: 700px;
    -webkit-transform: rotate(12deg);
            transform: rotate(12deg); }

.logo-socials--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px; }
  .logo-socials--header li:nth-of-type(2) .tooltipText {
    bottom: -70px; }
  .logo-socials--header a {
    padding: 5px; }
    .logo-socials--header a:hover, .logo-socials--header a:focus {
      color: #f19032; }

.logo-socials--header-socials li:first-child .triangle--tooltip {
  right: 15px; }

.logo-socials--header-socials li:nth-child(2) .triangle--tooltip {
  right: 20px; }

.logo-socials--header-socials li:nth-child(3) .triangle--tooltip {
  right: 5px; }

.logo-socials--header-socials li:nth-child(4) .triangle--tooltip {
  right: 10px; }

.logo-socials--header-socials li:hover .tooltip,
.logo-socials--header-socials li:focus .tooltip {
  display: block; }

.logo-socials--header-socials li .tooltip {
  text-transform: capitalize; }

.socials--header-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.logo-socials--header-socials li {
  position: relative;
  margin: 0 5px; }

.logo-socials--header-socials li:last-of-type {
  margin-right: 0; }

.logo-socials--header-socials .fa-twitter {
  font-size: 24px; }

.logo-socials--header-socials .fa-envelope {
  font-size: 22px; }

.logo-socials--header-socials .ai-orcid {
  font-size: 26px; }

.logo-socials--header-socials .ai-google-scholar {
  font-size: 23px; }

@media (max-width: 1000px) {
  .logo-socials--header-socials {
    display: none; } }

.about-me--text-image-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.about-me--text {
  width: 60%;
  padding-left: 20px; }
  .about-me--text p {
    margin: 0; }

@media (max-width: 1213px) {
  .about-me--text-image-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .about-me--text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    text-align: center;
    padding-left: 0;
    margin-top: 30px; }
    .about-me--text a {
      margin: 15px auto; } }

.research-section--second-paragraph-spacing {
  margin-top: 30px; }

.research-section--nav .tooltipText {
  font-style: normal; }

.research-section--nav p:nth-of-type(2) .tooltipText {
  bottom: -75px; }

.education--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.education--levels {
  font-weight: 500;
  font-size: 32px;
  font-size: 3.2rem;
  padding-right: 10px;
  padding-bottom: 8px; }

.education--text-indv {
  width: 290px;
  padding: 10px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .education--text-indv p {
    margin: 0; }

@media (max-width: 760px) {
  .education--text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

.publication--section-left, .publication--section-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
  padding: 5px 0;
  min-height: 228px; }

.publication--section-left {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.publication--section-right {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  text-align: right; }

.publication--section--img {
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.publication--section-left--text, .publication--section-right--text {
  width: 67%;
  min-height: 150px;
  margin-top: 20px; }

.publication--section-right--text {
  margin-right: 20px; }

.publication--section-left--text {
  margin-left: 20px; }

.publications--buttons-2nd {
  margin-left: 10px; }

.publication--section-left:last-of-type {
  margin-bottom: 0; }

@media (max-width: 1280px) {
  .publication--section-left, .publication--section-right {
    text-align: center; }
  .publication--section-left--text, .publication--section-right--text {
    width: 85%; }
  h4 {
    margin-top: 20px; } }

@media (max-width: 578px) {
  .publications--buttons-2nd {
    margin-left: 0; }
  .publication--section-left .button-global, .publication--section-right .button-global {
    margin-top: 15px; } }

.skills--flex-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.skills--indv-section {
  max-width: 45%;
  margin: 20px 10px;
  border: 2px solid #3a3838;
  padding: 25px;
  position: relative; }
  .skills--indv-section .skills--indv-section-icons {
    position: absolute;
    top: -30px;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .skills--indv-section .skills--indv-section-icons img {
      width: 45px;
      margin-bottom: 10px;
      background: #f3f1ef; }
    .skills--indv-section .skills--indv-section-icons h4 {
      text-transform: uppercase;
      padding-top: 15px;
      padding-right: 10px;
      padding-left: 5px;
      background: #f3f1ef; }
  .skills--indv-section .skills--indv-section-words p {
    margin: 0; }

@media (max-width: 1280px) {
  .skills--indv-section .skills--indv-section-icons {
    top: -45px; }
    .skills--indv-section .skills--indv-section-icons img {
      margin: 0; } }

@media (max-width: 750px) {
  .skills--indv-section {
    max-width: 90%; } }

@media (max-width: 500px) {
  .skills--indv-section-icons.illustration,
  .skills--indv-section-icons.communication {
    -webkit-transform: translatex(-55%);
            transform: translatex(-55%); } }

form {
  width: 80%;
  margin: 0 auto;
  text-align: center; }
  form input, form textarea {
    border: none;
    margin: 10px auto 20px;
    background: #fefffd;
    border-radius: 2px;
    display: block;
    padding: 5px;
    -webkit-box-shadow: inset 0px 0px 6px -3px #3A3838;
            box-shadow: inset 0px 0px 6px -3px #3A3838; }
  form input {
    width: 50%; }
  form textarea {
    resize: none;
    width: 95%; }
  form label {
    margin: 15px 0 0 0; }
  form button {
    border: none;
    background: none;
    margin: 0 auto 10px; }

.contact--socials {
  margin: 10px auto;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .contact--socials p {
    text-transform: capitalize; }

.contact--socials-indv-circles {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: 70px;
  width: 70px;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #3a3838; }
  .contact--socials-indv-circles i {
    color: #fefffd; }
  .contact--socials-indv-circles .fa, .contact--socials-indv-circles .ai {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .contact--socials-indv-circles .fa {
    font-size: 35px; }
  .contact--socials-indv-circles .ai {
    font-size: 40px; }

.contact--socials-indv:hover i, .contact--socials-indv:hover p {
  color: #f19032; }

.contact--socials-indv p {
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.contact--socials-indv--hover i, .contact--socials-indv--hover p {
  color: #f19032; }

.contact--socials-indv--hover .contact--socials-indv-circles {
  background: transparent; }

@media (max-width: 840px) {
  form input {
    width: 70%; } }

@media (max-width: 530px) {
  form {
    width: 90%; }
    form input {
      width: 90%; } }

footer {
  padding: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

footer a {
  display: inline-block;
  padding: 10px 0;
  font-size: 10px;
  font-size: 1rem;
  -webkit-transition: 0.4s;
  transition: 0.4s; }
  footer a:hover {
    color: #f19032; }

@media (max-width: 1400px) {
  .top-box--header img {
    bottom: 5vh;
    left: 20vw;
    width: 650px;
    -webkit-transform: rotate(17deg);
            transform: rotate(17deg); } }

@media (max-width: 1310px) {
  .top-box--header img {
    bottom: 2.5vh;
    width: 600px;
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg); }
  .top-box--header .centering-text--header {
    padding-top: 12vh;
    padding-left: 5vw; } }

@media (max-width: 1218px) {
  .top-box--header img {
    left: 16.5vw;
    bottom: 0vh;
    width: 570px;
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg); }
  .top-box--header .centering-text--header h1 {
    font-size: 50px;
    font-size: 5rem; }
  .top-box--header .centering-text--header h2 {
    font-size: 30px;
    font-size: 3rem; } }

@media (max-width: 1090px) {
  .top-box--header img {
    left: 10vw;
    bottom: -5vh;
    width: 480px;
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg); }
  .top-box--header .centering-text--header {
    padding-left: 100px;
    padding-top: 120px; }
    .top-box--header .centering-text--header h1 {
      font-size: 45px;
      font-size: 4.5rem; }
    .top-box--header .centering-text--header h2 {
      font-size: 28px;
      font-size: 2.8rem; } }

@media (max-width: 1000px) {
  .top-box--header img {
    left: 21vw;
    bottom: 1vh;
    width: 580px;
    -webkit-transform: rotate(22deg);
            transform: rotate(22deg); }
  .top-box--header .centering-text--header {
    padding-left: 40px;
    padding-top: 110px; }
    .top-box--header .centering-text--header h1 {
      font-size: 45px;
      font-size: 4.5rem; }
    .top-box--header .centering-text--header h2 {
      font-size: 32px;
      font-size: 3.2rem; } }

@media (max-width: 840px) {
  .top-box--header img {
    left: 13vw;
    bottom: -5vh;
    width: 500px;
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg); }
  .top-box--header .centering-text--header {
    padding-left: 22px; }
    .top-box--header .centering-text--header h1 {
      font-size: 45px;
      font-size: 4.5rem; }
    .top-box--header .centering-text--header h2 {
      font-size: 30px;
      font-size: 3rem; } }

@media (max-width: 670px) {
  .top-box--header img {
    left: 10vw;
    width: 450px; }
  .top-box--header .centering-text--header h1 {
    font-size: 40px;
    font-size: 4rem; }
  .top-box--header .centering-text--header h2 {
    font-size: 27px;
    font-size: 2.7rem; } }

@media (max-width: 560px) {
  .top-box--header img {
    left: 5vw;
    bottom: -50px;
    width: 400px;
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg); }
  .top-box--header .centering-text--header {
    padding-left: 25px;
    padding-top: 120px; }
    .top-box--header .centering-text--header h1 {
      font-size: 35px;
      font-size: 3.5rem; }
    .top-box--header .centering-text--header h2 {
      font-size: 24px;
      font-size: 2.4rem; } }

@media (max-width: 500px) {
  .top-box--header img {
    left: 4vw;
    bottom: -100px;
    width: 360px; }
  .top-box--header .centering-text--header {
    padding-left: 25px;
    padding-top: 120px; }
    .top-box--header .centering-text--header h1 {
      font-size: 27px;
      font-size: 2.7rem; }
    .top-box--header .centering-text--header h2 {
      font-size: 23px;
      font-size: 2.3rem; } }

@media (max-width: 440px) {
  .top-box--header img {
    left: 6vw;
    bottom: -50px;
    width: 320px; }
  .top-box--header .centering-text--header {
    padding-left: 25px;
    padding-top: 120px; }
    .top-box--header .centering-text--header h1 {
      font-size: 25px;
      font-size: 2.5rem; }
    .top-box--header .centering-text--header h2 {
      font-size: 21px;
      font-size: 2.1rem; } }

@media (max-width: 400px) {
  .top-box--header img {
    left: 3vw;
    bottom: -50px;
    width: 300px; }
  .top-box--header .centering-text--header {
    padding-top: 30vw; }
    .top-box--header .centering-text--header h1 {
      font-size: 25px;
      font-size: 2.5rem; }
    .top-box--header .centering-text--header h2 {
      font-size: 21px;
      font-size: 2.1rem; } }

@media only screen and (min-height: 1024px) and (min-width: 1366px) and (orientation: landscape) {
  .top-box--header img {
    left: 21vw;
    bottom: 5vh;
    width: 610px; }
  .top-box--header .centering-text--header {
    padding-top: 17vh;
    padding-left: 70px; } }

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) {
  .top-box--header img {
    left: 19vw;
    bottom: 0vh;
    width: 400px;
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg); }
  .top-box--header .centering-text--header {
    padding-top: 18vh; } }

@media only screen and (min-device-width: 1024px) and (max-device-height: 768px) and (orientation: landscape) {
  .top-box--header img {
    left: 21vw;
    bottom: 2vh;
    width: 400px;
    -webkit-transform: rotate(22deg);
            transform: rotate(22deg); }
  .top-box--header .centering-text--header {
    padding-top: 14vh;
    padding-left: 20px; }
    .top-box--header .centering-text--header h1 {
      font-size: 45px;
      font-size: 4.5rem; }
    .top-box--header .centering-text--header h2 {
      font-size: 35px;
      font-size: 3.5rem; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .top-box--header img {
    left: 25vw;
    bottom: 1vh;
    width: 400px;
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg); }
  .top-box--header .centering-text--header {
    padding-top: 22vh; }
    .top-box--header .centering-text--header h1 {
      font-size: 50px;
      font-size: 5rem; }
    .top-box--header .centering-text--header h2 {
      font-size: 35px;
      font-size: 3.5rem; } }

@media only screen and (max-device-width: 830px) and (max-device-height: 412px) and (orientation: landscape) {
  .top-box--header img {
    display: none; } }
